@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #fbfbfb;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    width: 100px;
}

/* STYLES HEADER */
.header {
    background-color: #333;
    width: 100%;
    padding: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    color: white;
    position: fixed;
    z-index: 100;
}

.header .button {
    display: none;
    color: white;
}

.header .hamburguesa {
    font-size: 2rem;
}

.header .ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.header .li {
    border: 2px solid #333;
}

.ul .a {
    color: white;
    font-weight: bold;
    padding: 4px;
    background-color: #a45394;
    border-radius: 15px;
}

.ul .a:hover {
    padding: 6px;
}

main {
    padding-top: 90px;
}

/* MENU HAMBURGUESA MENU HAMBURGUESA MENU HAMBURGUESA*/
@media screen and (max-width: 700px) {
    .header .button {
        display: block;
        background: none;
        border: none;
    }

    .header .button i {
        font-size: 40px;
    }

    .header .nav {
        width: 100%;
        transition: height .3s ease-in-out;
        height: 0;
        overflow: hidden;
        pointer-events: none;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header .nav.activo {
        height: 50vh;
        pointer-events: auto;
    }

    .nav .ul {
        display: flex;
        flex-direction: column;
    }
}

/*Estilos seccion sobre_mi*/
.seccion_sobremi {
    min-height: 100vh;
    width: 100%;
    max-width: 800px;
    padding: 25px 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagen_sobremi {
    width: 250px;
    height: 250px;
    border-radius: 50%;


}

.titulo_sobremi {
    margin: 20px 0;
    font-size: 36px;

}

.parrafo_sobremi {
    line-height: 1.2;
}

.link_descargarcv {
    background-color: #af599e;
    color: white;
    padding: 10px 20px;
    border-radius: 60px;
    margin: 20px 0;

}
.link_descargarcv:hover{
    background-color: #da3357;
}

.seccion_contacto {
    width: 100%;
    max-width: 800px;
    padding: 25px 20px;
    margin: 0 auto;
}

.seccion_hablemos {
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgba(175, 89, 158, 0.3);
}

.titulo_contacto {
    font-size: 28px;
}

.parrafo_contacto {
    line-height: 1.2;
}

.seccion_redessociales {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;


}

.icono {
    font-size: 60px;

}

.footer {
    background-color: #af599e;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.parrafo_copy {
    color: white;
    font-size: 20px;
}